/* styles.module.css */

.dropdown {
  font-family: "Pretendard-Regular", sans-serif;
  color: black;
  font-style: italic;
  padding: 5px;
  background-color: var(--col4);
  font-size: 14px;
  width: auto;
  list-style-type: none;
  gap: 10px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.dropdown option {
  background-color: var(--col3);
  color: white;
  font-style: italic;
  font-size: 14px;
}
