/* styles.module.css */

.dropdown {
  font-family: "Pretendard-Regular", sans-serif;
  font-style: italic;
  padding: 5px;
  background-color: var(--col4);
  font-size: 14px;
  width: 60px;
  list-style-type: none;
  gap: 10px;
  cursor: pointer;
  border: none; 
  outline: none; 
  appearance: none; 
}

.dropdown option {
  background-color: var(--col4);
  color: black;
  font-style: italic;
  font-size: 14px;
}
