.headText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
.title {
    text-align: center;
  }

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%; 
    margin:20px;
    gap:10px;
    margin: 10px 0; /* 위아래 간격 줄이기 */
}

.filterWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px; /* 필터 위 간격 줄이기 */
}
